@font-face {
    font-family: betFont;
    src: url(MaisondeartisanfreeItalic-VGrmz.otf);
}

body {
    text-align:center ;
}

#divBet {
    display:inline-block;
    background-color: cornflowerblue;
    margin:50px;
    padding:20px;
    border-radius: 25px;
    text-align: center;
    width: 50%;
}

ol.numbers li {
    font-family: monospace;
    display: inline-block;
    background-color: yellow;
    width: 80px;
    font-size: 60px;
    text-align: center;
    margin: 5px;
    border-radius: 20%;
}

#genBtn {
    background-color: lightcoral;
    color: yellow;
    font-size: 50px;
    width : 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: betFont;
    font-weight: 900;
}